.header-analysis {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.analysisContainer {
  z-index: 1;
  position: relative;
  top: 215px;
  padding: 0 1rem 2rem;
  border-bottom: 10px solid transparent;
  border-image: map-get($gradients, 'melon');
  border-image-slice: 1;

  h2 {
    font-size: 1rem;
    font-weight: $bold;
  }
  
}

.analysisHr {
  width: 100%;
  border: none;
  border-top: 1px solid rgba($teal, .25);
  margin: 1.75rem 0;
}

.analysisTabs {
  display: flex;
  justify-content: space-evenly;
  padding: .75rem 1rem 0;
  background-color: mix($teal, #fff, 5%);
  text-align: center;
  z-index: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}
  $analysisTabsGutter: .35rem;
  $analysisTabBorder: 5;
  .analysisTabs_item {
    flex: auto;
    position: relative;
    padding: .8rem .5rem .5rem;
    border-top: 5px solid mix($teal, #fff, 5%);
    width: calc(33% - #{$analysisTabsGutter});

    &:nth-of-type(1) { margin-right: ($analysisTabsGutter/2); }
    &:nth-of-type(2) { margin: 0 ($analysisTabsGutter/2); }
    &:nth-of-type(3) { margin-left: ($analysisTabsGutter/2); }

    &.isActive {
      background-color: #fff;
      border-radius: 5px 5px 0 0;
      border-top-color: $yellow;
      box-shadow: map-get($box-shadow, 'sets');
    }
  }
  .analysisTabs_bottomCover {
    background: #fff;
    z-index: 10;
    position: relative;
    min-height: 10px;
    display: block;
  }

.gradientBox {
  width: 1.75rem;
  height: 1.25rem;
  border-radius: $default-border-radius;
  display: inline-block;
  margin-left: .35rem;
  margin-bottom: -.125rem;

  &-p1 { background: map-get($gradients, 'kumquat'); }

  &-p2 { background: map-get($gradients, 'icecube'); }
}


//////////////////////////////////////////////////////////////////////////////
// General Stats stuff
.stats_percentage {
  font-weight: $normal;
  font-style: italic;
}

//////////////////////////////////////////////////////////////////////////////
// Your Point Breakdown
.ypb {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  &_header { margin-bottom: 1rem; }
}

.ypb_stats {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  >* { width: 45%; }
}
  .ypb_positive {
    display: flex;
    flex-direction: column;
  }
    @mixin ypbContainer {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      position: relative;
      > * { width: 50%; }
      >:first-child { margin-right: .75rem; }
    }
      .stackedBar {
        background-color: $light-gray;
        min-height: .2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition: $graphTransition;

        &.isAnimating {
          height: 0 !important;
          transition: $graphTransition;
        }
      }
      .ypb_points {
        line-height: 1;
        font-size: 1.8rem;
        font-weight: $normal;
        display: block;

        >span {
          font-size: .9rem;
          font-weight: $normal;
          display: block;
        }
      }

      $ratioMultiplier: 4;
    .ypb_errorsForced {
      @include ypbContainer;
      $height: ($ratioMultiplier*5) + unquote('px');
      min-height: $height;
      .ypb_points { text-align: right; }
      .stackedBar { 
        height: $height; 
        border-radius: 5px 5px 0 0;
        background: map-get($gradients, 'unripeBlueberry');
      }
    }
    .ypb_winners {
      @include ypbContainer;
      $height: ($ratioMultiplier*13) + unquote('px');
      min-height: $height;
      .ypb_points { text-align: right; }
      .stackedBar { 
        height: $height; 
        background: map-get($gradients, 'cantaloupReversed');
      }
    }
    .ypb_unforcedErrors {
      @include ypbContainer;
      $height: ($ratioMultiplier*30) + unquote('px');
      min-height: $height;
      .ypb_points { text-align: left; }
      .stackedBar { 
        height: $height; 
        border-radius: 5px 5px 0 0;
        background: map-get($gradients, 'pearReversed');
      }
    }

//////////////////////////////////////////////////////////////////////////////
// Points Won and Lost

.pointsWonLost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  &_meta {
    font-weight: $normal;
    font-size: .9rem;
  }

  &_points {
    font-weight: $bold;
    font-size: 3rem;
    line-height: 1;

    // don't know why this works?????
    &:nth-of-type(4) { color: rgba($dark-teal, .25); }
  }

  &_slash {
    color: rgba($dark-teal, .25);
  }
}

.hBarGraph {
  margin-bottom: 1rem;
}
  .hBarGraph_xAxisLabel {
    text-align: right;
    color: $teal;
    font-size: .9rem;
    font-weight: $normal;
    font-style: italic;
    line-height: 1;
    margin-bottom: .5rem;
    // margin-top: 1.5rem;
  }
  .hBarGraph_barGroup {
    display: flex;
    align-items: center;

    &:first-of-type { 
      .hBarGraph_bar { padding-top: .35rem; }
    }
    &:last-of-type { 
      .hBarGraph_bar:last-of-type { padding-bottom: .35rem; }
    }
    &-tight { .hBarGraph_bar { padding: 0 !important; } }
  }
    .hBarGraph_yAxisLabel {
      text-align: right;
      padding-right: .75rem;
      width: 4.8rem;
      font-weight: $bold;
      font-size: .9rem;
      line-height: 1;
    }
    .hBarGraph_doubleBars {
      flex: 1 0 auto;
      >.hBarGraph_bar:first-child { padding: .35rem 0; }
      >.hBarGraph_bar:last-child { padding-top: 0; }
      >.hBarGraph_bar:last-child .hBar { background: map-get($gradients, 'icecube'); }
      .hBarGraph_doubleBarsRow:last-child .hBar { background: map-get($gradients, 'icecube'); }
      .hBarGraph_doubleBarsRow:first-child .hBarGraph_bar { padding: .35rem 0; }
      .hBarGraph_doubleBarsRow:last-child .hBarGraph_bar { padding-top: 0; }
    }
      .hBarGraph_doubleBarsRow {
        display: flex;
        align-items: center;
        // &:first-of-type { margin-bottom: -.2rem;}
        margin-top: .15rem;
        margin-bottom: .15rem;
      }
    .hBarGraph_bar {
      flex: 1 0 auto;
      background-color: mix($light-gray, #fff, 50%);
      border-radius: 5px;
      margin-top: -.15rem;
      margin-bottom: -.15rem;
      padding: .75rem 0;
      position: relative;

      &.isTooltipActive {
        background-color: $light-gray;
      }
    }
    .hBarGraph_barTotalLabel {
      width: 1rem;
      margin-left: .5rem;
      font-weight: $normal
    }

      .hBar {
        // padding: .4rem 0;
        // margin-bottom: .5rem;
        height: 1.8rem;
        min-width: .2rem;
        transition: $graphTransition;
        position: relative;
        border-radius: 5px;
        background: map-get($gradients, 'kumquat');

        &.green { background: map-get($gradients, 'cantaloup'); }
        &.red { background: map-get($gradients, 'pear'); }
        &.blue { background: map-get($gradients, 'icecube'); }

        .stats_rawNum {
          position: absolute;
          left: .75rem;
          top: .4rem;
        }
        .stats_percentage {
          position: absolute;
          top: .4rem;

          &:not(.full),
          &:not(.tooSmall) { right: -2.5rem; }
          &.full { right: .75rem; }
          &.tooSmall { left: 2.5rem; }
        }

        &.isAnimating {
          width: 0 !important;
          transition: $graphTransition;
        }

        &.pointsWonLost_winners { 
          width: 13%; 
          background: map-get($gradients, 'cantaloup');
        }
        &.pointsWonLost_errorsForced {
          width: 5%;
          background: map-get($gradients, 'cantaloup');
          .stats_percentage { left: 2.5rem; }
        }
        &.pointsWonLost_unforcedErrors {
          width: 29%;
          background: map-get($gradients, 'icecube');
        }
      }