  
  h2.score {
    font-size: 4.0rem;
  }
  
  h2.score.serve.one::before,
  h2.score.serve.two::after {
    content:url("../img/tennis-ball.svg");
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    position: absolute;
    top: 1.75rem;
  }
  
  h2.score.one::before {
    left: 1.5rem;
  }
  
  h2.score.two::after {
    right: 1.5rem;
  }
  
  .w100 {
    width: 100%;
    height: auto;
  }
  
  button {
    // margin-bottom: 1.0rem;
  }
  
  table.table {
    background: #e9ecef;
    margin-top: -0.4rem;
  }
  
  table.table td {
    padding: 0.25rem;
    text-align: center;
  }
  
  table.table th {
    padding: 0.5rem;
  }
  
  table.table th {
    border-top: none;
  }
  
  
  /////////////////////////////////////////////////////////
  // Containers
  .container-scoreboard {
    margin-bottom: 1.5rem;
  }
  
  .container-questions {
  
  }

  .androidContainer {
    width: rem-calc(360);
    height: rem-calc(616);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: map-get($box-shadow, 'buttons');
    position: relative;
    overflow-y: scroll;

    &.results {
      background-color: $light-gray;
    }
  }
    ::-webkit-scrollbar { display: none; }

  
  //////////////////////////////////////////////////////////
  .questions,
  .question-text > div {
    display: none;
  }

  .questions .btn {
    margin-bottom: 1.0rem;
  }

  .questions .bip {
    margin-top: -$global-padding;
  }

  .questions .fault,
  .questions .back {
    height: 70px;
  }

  /* 
    some bug in the jquery flip plugin that is adding backface-visibility to
    every child, so need to set the transform-style on the button that
    contains the icons so they hide properly
  */
  .questions .fault,
  .questions .doubleFault {
    transform-style: preserve-3d;
  }

  .questions .winner {
    height: 120px;
  }

  .question-text {
    margin-bottom: -.75rem;
  }

  //////////////////////////////////////////////////////////
  .linkFill {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; right: 0;
    top: 0; bottom: 0;
  }

  //////////////////////////////////////////////////////////
  // BOOSTRAP GRID OVERRIDES

  .row [class^=col-] {
    padding-bottom: $global-padding !important;
  }

  //////////////////////////////////////////////////////////
  .u-margin-bottom-medium {
    margin-bottom: 2rem !important;
  }
  .u-margin-top-medium {
    margin-top: 2rem !important;
  }
  .isHidden {
    display: none;
  }