body {
    font-family: Roboto;
  }
  
  h2.score {
    font-size: 4.0rem;
  }
  
  h2.score.serve.one::before,
  h2.score.serve.two::after {
    content:url("../img/tennis-ball.svg");
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    position: absolute;
    top: 1.75rem;
  }
  
  h2.score.one::before {
    left: 1.5rem;
  }
  
  h2.score.two::after {
    right: 1.5rem;
  }
  
  .w100 {
    width: 100%;
    height: auto;
  }
  
  button {
    margin-bottom: 1.0rem;
  }
  
  table.table {
    background: #e9ecef;
    margin-top: -0.4rem;
  }
  
  table.table td {
    padding: 0.25rem;
    text-align: center;
  }
  
  table.table th {
    padding: 0.5rem;
  }
  
  table.table th {
    border-top: none;
  }
  
  
  /////////////////////////////////////////////////////////
  // Containers
  .container-scoreboard {
    margin-bottom: 1.5rem;
  }
  
  .container-questions {
  
  }
  
  
  /////////////////////////////////////////////////////////
  // Previous & Pass buttons
  .navigation {
    align-items: baseline;
    margin-bottom: .75rem;
  }
  
  .navigation-button {
    text-transform: uppercase;
    font-weight: 500;
    background-color: transparent;
    color: $light-gray;
    margin-bottom: 0;
  
    &.active {
      color: $orange;
    }
  
    &--prev::before {
      content: '\000AB';
      font-weight: normal;
      font-size: 1.5rem;
      margin-right: .5rem;
    }
    &--pass::after {
      content: '\000BB';
      font-weight: normal;
      font-size: 1.5rem;
      margin-left: .5rem;
    }
  }
  
  
  //////////////////////////////////////////////////////////
  // Slidy dots
  .breadcrumbs {
    text-align: center;
  }
  
  .breadcrumbs-dot {
    display: inline-block;
    padding:top;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid $gray;
  
    & ~ & {
      margin-left: .35rem;
    }
  }
  
  .breadcrumbs > div.active {
    border-color: $orange;
    background-color: $orange;
  }
  
  
  //////////////////////////////////////////////////////////
  .tennis-ball {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  
  //////////////////////////////////////////////////////////
  .questions, 
  .question-text > div {
    display: none;
  }
  
  .question-text {
    margin-bottom: -.75rem;
  }