
$icon-path: '../img/';
$icons: (
  'downArrow': 'downArrow',
  'upArrow': 'upArrow',
  'downV': 'downV',
  'upV': 'upV',
  'leftArrow': 'leftArrow',
  'rightArrow': 'rightArrow',
  'loopBackArrow': 'loopBackArrow',
  'tennisBall': 'tennisBall',
  'plus': 'plus',
  'minus': 'minus',
  'hamburger': 'hamburger',
  'kebab': 'kebab',
  'faultBall': 'faultBall',
  'doubleFaultBall': 'doubleFaultBall',
);
  // 'androidStatusbar': 'statusBar',

.icon {
  width: .8rem;
  height: .8rem;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-iblock { display: inline-block; }

@each $icon-file-name, $icon-name in $icons {
  .icon-#{$icon-name} {
    background-image: url($icon-path + $icon-file-name + '.svg');
  }
}

.icon-kebab {
  width: .225rem;
}