
$icon-path: '../img/';
$icons: (
  'downArrow': 'DownArrow',
  'upArrow': 'UpArrow',
  'downV': 'DownV',
  'upV': 'UpV',
  'leftArrow': 'LeftArrow',
  'rightArrow': 'RightArrow',
  'loopBackArrow': 'LoopBackArrow',
  'tennisBall': 'TennisBall',
);

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

@each $icon-file-name, $icon-name in $icons {
  .icon-#{$icon-name} {
    background-image: url($icon-path + $icon-file-name + '.svg');
  }
}



.tennis-ball {
  width: 1.5rem;
  height: 1.5rem;
}