// Previous & Pass buttons
.navigation {
  align-items: baseline;
  margin-bottom: .75rem;
}

.navigationButton {
  $scoreNavFont: map-get($type-styles, 'scoreNavigation');
  @each $property, $value in $scoreNavFont {
      #{$property}: $value;
  }
  background-color: transparent;
  margin-top: 1.75rem;
  margin-bottom: 1.0rem;

  &.disabled {
    color: transparentize(map-get(map-get($type-styles, 'scoreNavigation'), 'color'), 0.3);

    .arrow {
      fill: transparentize(map-get(map-get($type-styles, 'scoreNavigation'), 'color'), 0.3);
    }
  }

  > svg {
    margin: 0 0.5rem -0.1rem 0.5rem;
    height: 1.0rem;
    width: auto;
  }

  .arrow {
    display: inline-block;
    fill: map-get(map-get($type-styles, 'scoreNavigation'), 'color');
  }
}

// Slidy dots
.breadcrumbs {
  margin-left: -0.5rem;
  text-align: center;
}

.breadcrumbs-dot {
  display: inline-block;
  padding:top;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $light-gray;

  & ~ & {
    margin-left: .35rem;
  }
}

.breadcrumbs > div.active {
  border-color: $teal;
  background-color: $teal;
}
