.hidden {
  display: none !important;
}

.resultsContainer {
  padding: $global-padding;
  margin-top: 241px;
}

.results-rowCentering {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  >:nth-child(1){
    // flex: auto;
    width: 35%;
  }

  >:nth-child(2) {
    flex: 1 0 3rem;
    text-align: center;
  }

  >:nth-child(3) {
    // flex: auto;
    width: 35%;
    text-align: right;
  }
}

.resultsSet {
  padding: .75rem;
  background-color: #fff;
  border-radius: $default-border-radius;
  box-shadow: map-get($box-shadow, 'sets');
}

.resultsSet_title {
}

.resultsSet_score {
  letter-spacing: 2px;
}

.resultsGame {
  padding-left: .5rem;
  padding-right: .5rem;
  &:not(:last-of-type) { border-bottom: 1px dashed rgba($teal, .4); }
}

.resultsGame_title {
  font-weight: $normal;
  padding-top: .75rem;
  padding-bottom: .75rem;

  &:first-of-type {
    padding-top: 1rem;
  }
}

.resultsGame_score {
  letter-spacing: 1px;

  &.serveP1 {
    padding-right: 0.95rem;

    &::before {
      content: url('../img/tennisBall.svg');
      display: inline-block;
      height: 0.75rem;
      width: 0.75rem;
      padding-right: 0.2rem;
    }
  }
  &.serveP2 {
    padding-left: 0.95rem;

    &::after {
      content: url('../img/tennisBall.svg');
      display: inline-block;
      height: 0.75rem;
      width: 0.75rem;
      padding-left: 0.2rem;
    }
  }
}

.resultsPoint {
  font-weight: $normal;
  font-size: 0.8rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .75rem;
  display: flex;

  .resultsPoint_score {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }

  .resultsPoint-p1Point::before {
    content: "";
    display: inline-block;
    height: 0.75rem;
    width: 0.75rem;
    padding-right: 0.2rem;
  }

  .resultsPoint-p2Point::after {
    content: "";
    display: inline-block;
    height: 0.75rem;
    width: 0.75rem;
    padding-left: 0.2rem;
  }

  .resultsPoint-p1Point.fault::before,
  .resultsPoint-p2Point.fault::after {
    content: url("../img/faultBall.svg");
  }

  .resultsPoint-p1Point.doubleFault::before,
  .resultsPoint-p2Point.doubleFault::after {
    content: url("../img/doubleFaultBall.svg");
  }

  &-p1 {
    // width: 40%;
  }

  &-p2 {
    // width: 40%;
    padding-left: 1rem;
  }
}