// Large Scoreboard //////////////////////////////////////////////////////
.scoreboard {
  color: $global-font-color;
  text-align: center;
  display: flex;
  padding: 1.125rem 1rem 1rem;
  background-color: #fff;
  border-radius: $default-border-radius;
  box-shadow: map-get($box-shadow, 'scoreboard');
  margin-top: 1.5rem;
}
  
  .scoreboard_playerScore {
    width: 42.5%;
  }

    .scoreboard_playerName {
      margin-bottom: .5rem;
    }

    // The scores themselves ///////
    .scoreboard_scoreGroup {
      display: flex;
      align-items: center;

      &P1 { }
      &P2 {
        justify-content: flex-end;
      }
    }
      .scoreboard_scoreIconGroup {
        width: .8rem;
        * ~ * {
          margin-top: .25rem;
        }
      }
      .scoreboard_scoreNum {
        @include type-style('scores');
        margin: 0;
        padding: 0 .75rem;
      }

  // The set-score styles ///////////
  .scoreboard_setScoreGroup {
    @include type-style('setScore');
    width: 15%;
  }
    .scoreboard_setScores {
      display: flex;
      justify-content: center;
    }
      .scoreboard_setScoreTitle {
        margin-bottom: .5rem;
        text-transform: uppercase;
        font-size: rem-calc(13);
      }
      .scoreboard_playerOneSets {
        padding-right: .5rem;
        margin-right: .5rem;
        border-right: 1px solid $teal;
      }
      .scoreboard_playerTwoSets {
      }
      .scoreboard_setNums {
        padding-top: .125rem;
        padding-bottom: .125rem;
      }


// Horizontal Scoreboard //////////////////////////////////////////////////
.scoreboardH {
  padding: 1.125rem;
}

  .scoreboardH_column {
    >:first-child { padding-bottom: .5rem; }
    >:nth-child(2n) { 
      padding-top: .5rem;
      border-top: 1px solid rgba($teal, .4);
    }

    &.isActive {
      >:nth-child(2) {
        border-top: 2px solid $teal;
      }
    }
  }

  .scoreboardH_playerNames {
    text-align: left;
    width: 60%;
  }
    .scoreboardH_playerNameGroup {
    }

  .scoreboardH_setScores {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    width: 40%;
    > * { width: 25%; }
  }