body {
  $default-font: map-get($type-styles, 'default');
  @each $property, $value in $default-font {
    #{$property}: #{$value};
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

strong {
  font-weight: 600;
}

p {
  margin: 0;
}