@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');

// colour palette
$orange: #fd6c3e;
$yellow: #f6ea00;
$green: #94d142;
$teal: #1baaa5;
$dark-teal: #0f6160;
$darkest-teal: #0c4c49;
$navy-blue: #1442a2;
$light-gray: #f2f2f0;
$gray: #d1d3d4;
$dark-gray: #4d4d4d;

// other colours used for shadows
$another-teal: #216e82;
$darkest-dark-teal: #304442;

// global variables
$base-font-size: 16px;
$global-font-color: $darkest-teal;
$default-border-radius: 5px;
$global-padding: 1rem;

$gradients: (
  'pear': linear-gradient(135deg, rgba($yellow, .58), rgba($orange, .58) 100%),
  'mint': linear-gradient(135deg, rgba($teal, 1), rgba($dark-teal, 1) 100%),
  'cantaloup': linear-gradient(135deg, rgba($yellow, .58), rgba($green, .58) 100%),
  'kumquat': linear-gradient(135deg, rgba($yellow, .58), rgba(#fbc517, .58) 100%),
);

$box-shadow: (
  'header': 0 2px 4px rgba($darkest-dark-teal, .75),
  'scoreboard': 0 1px 7px rgba($darkest-dark-teal, .6),
  'sets': 0 1px 5px rgba($darkest-dark-teal, .35),
  'buttons': 0 1px 2px rgba($another-teal, .3),
  'tabs': 0 2px 2px rgba($dark-teal, .14),
);

$roboto: 'Roboto';

$normal: 400;
$bold: 500;
$ultra-bold: 700;

// Just a place with all the special text styles
$type-styles: (
  'default': (
    font-family: $roboto,
    font-size: 1rem,
    font-weight: 500,
    color: $global-font-color,
    line-height: 1.2,
  ),
  'scores': (
    font-size: 4rem,
    font-weight: $ultra-bold,
    line-height: 1,
    color: $darkest-teal,
  ),
  'setScore': (
    text-align: center,
    opacity: .8,
    color: $dark-teal,
  ),
  'questions': (
    font-family: $roboto,
    font-size: 1.375rem,
    font-weight: $ultra-bold,
    color: $darkest-teal,
  ),
  'answers': (
    font-family: $roboto,
    font-size: 1.125rem,
    font-weight: $bold,
    line-height: 1,
    color: $darkest-teal,
  ),
  'answerSubtitle': (
    font-size: .8125rem,
    font-weight: $bold,
    color: $dark-gray,
  ),
  'scoreNavigation': (
    font-size: .875rem,
    font-family: $roboto,
    text-transform: uppercase,
    font-weight: $bold,
    color: $teal,
  ),
  'headerBreadcrumb': (
    font-weight: $normal,
    font-size: .66667rem,
    text-transform: uppercase,
  ),
  'headerTitle': (
    font-size: 1.125rem,
    font-weight: $ultra-bold,
  ),
  'slideTabs': (
    font-size: .75rem,
    font-weight: $ultra-bold,
    text-transform: uppercase,
    letter-spacing: .025rem,
  ),
  'sessionScoreboard': (
    font-size: .95rem,
    font-weight: $normal,
    color: $another-teal,
    letter-spacing: .025rem,
  )
)