

.header {
  color: #fff;
  background: map-get($gradients, 'mint');
  padding: $global-padding;
  padding-top: 0.5rem;
  box-shadow: map-get($box-shadow, 'header');
  position: relative;
}

  .header_androidStatusBar {
    background-image: url($icon-path + 'androidStatusbar.svg');
    background-repeat: no-repeat;
    height: .875rem;
    width: rem-calc(90);
    margin-bottom: .5rem;
    position: absolute;
    right: .35rem;
    // left: 0;
    top: .35rem;
  }

  .header_topNav {
    margin-bottom: .75rem;
    display: flex;
    flex-direction: row;

    &Hamburger {
      margin-right: 1rem;
    }
    &Kebab {
      margin-left: auto;
    }
  }

  .header_breadcrumbs {
    @include type-style('headerBreadcrumb');
  }

  .header_title {
    @include type-style('headerTitle');
  }